//fondos
$color-fondo: #34ff34;
$color-fondo2: #fcc359;

//colores tipografias
$tipo-front: #060672;
$tipo-back: #522200;

//estilo card
@mixin card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

@mixin cardstyle {
  display: flex;
  align-items: center;
  justify-content: center;
}