@use "variables" as var;

body {
 margin: auto;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}

.grid {
  @include var.contgrid;

}

.grid__card {
  @include var.card;
  position: relative;       /* para que absolute funcione */
  transform-style: preserve-3d;
  transition: transform 600ms ease;
  
}

.card__front,
.card__back {
  position: absolute;
  inset: 0;                  /* top/right/bottom/left: 0 */
  backface-visibility: hidden;
}

.card__front,
.card__back, a {
 align-self: center;
  color: var.$tipo-front;
}

.card__back {
  transform: rotateY(180deg);
    color: var.$tipo-back;
}
/*hover + focus */
.grid__card:hover,
.grid__card:focus {
  transform: rotateY(180deg);
}
